@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #014F86;
    --secondary-color: #CAF0F8;
    --links-hover: #90E0EF;
    --font-color: #dddddd;
    --bg-color: linear-gradient( 135deg, #023047 10%, #CAF0F8 100%);
    --cta-hover-color: #90E0EF;
    --heading-color: #ebebeb;
    --box-color: #f0edde;
	--map-icon-bg: #CAF0F8;
    --map-icon: #014F86;
    --icons-bg: #014F86;
    --icons: #CAF0F8;
    --instagram-icon: #FFA500;
    --twitter-icon: #00FFFF;
    --github-icon: #03c04a;
    --facebook-icon: #0072ff;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #6E6AEE;
    --links-hover: #6E6AEE;
    --font-color: #E1E1FF;
    --bg-color: linear-gradient(135deg, #000000 10%, #808080 100%);
    --cta-hover-color: #6560ff;
    --heading-color: #ffffff;
    --box-color: #f0f0f0;
	--map-icon-bg: #6E6AEE;
    --map-icon: #ffffff;
    --icons-bg: #121212;
    --icons: #CAF0F8;
    --instagram-icon: #FFFF00;
    --twitter-icon: cyan;
    --github-icon: #03c04a;
    --facebook-icon: #0072ff;
}

html {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
	background-size: 100% 100% no-repeat;
	overflow-x: hidden;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary-color);
    font-size: 130%;
    width: 85.6%;
    margin-left: -5%;
    margin-top: -2%;
    margin-bottom: 4%;
}

.logo {
    margin-right: auto;
    margin-left: -42em;
}

#logoInNavbar {
    width: 12%;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
	font-size: 100%;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--font-color);
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary-color)
}

.cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
	font-size: 100%;
}

.cta:hover {
    background-color: var(--cta-hover-color);
}


/* Toggle slider */

.theme-switch-wrapper {
    display: flex;
    align-items: center; /* toggle to be in center of the navbar*/
}

.theme-switch {
    display: inline-block;
    height: 42px;
    position: relative;
    width: 4.4em;
    margin-left: 20px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 34px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 34px;
}

.theme-switch input:checked + .slider {
    background-color: #66bb6a;
}

.theme-switch input:checked + .slider:before {
    transform: translateX(130%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #2e2e2e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
}

.box a { 
    color: black;
	text-decoration: none;
	letter-spacing: 20px;
	font-size: 30px;
}

h3{
	text-decoration: overline red;
}

img{
	width: 22%;
	height: 20%;
	border-radius: 20px;
	float: right;
}
	
.purple {
    border-top: 3px solid purple;
    box-shadow: 0px 30px 40px -20px purple;
    color: purple;
}
.red {
    border-top: 3px solid red;
    box-shadow: 0px 30px 40px -20px red;
    color: red;
}
.blue {
    border-top: 3px solid blue;
    box-shadow: 0px 30px 40px -20px blue;
    color: blue;
}
.orange {
    border-top: 3px solid orange;
    box-shadow: 0px 30px 40px -20px orange;
    color: orange;
}


h1, h3{
	color: var(--heading-color);
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
}

.box {
    border-radius: 5px;
    padding: 30px;
    margin: 20px;  
	background-color: #ffffff;
}


h2 {
    font-weight: 700;
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}


@media (max-width: 450px) {
	.box a { 
		color: black;
		text-decoration: none;
		letter-spacing: 5px;
		font-size: 30px;
	}
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
	
	img{
		width: 13%;
		height: 50%;
	}

    .header {
        margin-bottom: 100px;
        margin-top: 100px;
    }
      
    .box p {
        font-size: 110%;
    }

    .row2-container {
        margin-bottom: 10%;
    }
}



@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
}

footer {
    left: 0;
    bottom: 0;
    height: 22em;
    background-color: var(--primary-color);
    padding: 30px 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 86%;
    margin-left: -5%;
    margin-top: -2%;
    margin-bottom: -2%;
}

#phoneFooter {
    display: none;
    margin: 0px 0px 0px 35%;
    padding: 1em;
    width: 45%;
}

#phoneFooterIcon {
    display: none;
    background-color: var(--map-icon-bg);
    color: var(--map-icon);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 40px;
    vertical-align: middle;
    margin-left: -50px;
    margin-bottom: -48px;
}

#phoneFooterText {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    color: var(--font-color);
}

.footer-left {
    float: left;
    text-align: center;
    width: 28%;
    margin-left: -20px;
    margin-top: 20px;
}

.footer-left i {
    background-color: var(--map-icon-bg);
    color: var(--map-icon);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 40px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-left p {
    display: inline-block;
    color: var(--font-color);
    vertical-align: middle;
    font-size: 1.5rem;
}

.footer-map {
    margin: 0 auto;
}

iframe {
    width: 440px;
    height: 200px;
}

.footer-right {
    float: right;
    margin-right: -120px;
    margin-top: -50px;
}

.footer-links {
    padding: 3em;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: var(--font-color);
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.footer-links a:hover {
    color: var(--secondary-color);
}

.footer-links p {
    display: inline-block;
    padding: 0.3em;
    color: var(--font-color);
    font-size: 130%;
}

.footer-icons {
    width: 155%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 6em;
    transform: translate(-50%, -50%);
}

.footer-icons li {
    list-style: none;
    margin: 0 15px;
}

.footer-icons li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background-color: var(--icons-bg);
    border-radius: 50%;
    font-size: 30px;
    color: var(--icons);
    transition: .5s;
}

.footer-icons li #instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--instagram-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #instagram:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--instagram-icon);
}

.footer-icons li #instagram:hover {
    color: var(--instagram-icon);
    box-shadow: 0 0 5px var(--instagram-icon);
    text-shadow: 0 0 5px var(--instagram-icon);
}

.footer-icons li #twitter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--twitter-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #twitter:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--twitter-icon);
}

.footer-icons li #twitter:hover {
    color: var(--twitter-icon);
    box-shadow: 0 0 5px var(--twitter-icon);
    text-shadow: 0 0 5px var(--twitter-icon);
}

.footer-icons li #github::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--github-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #github:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--github-icon);
}

.footer-icons li #github:hover {
    color: var(--github-icon);
    box-shadow: 0 0 5px var(--github-icon);
    text-shadow: 0 0 5px var(--github-icon);
}

.footer-icons li #facebook::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--facebook-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #facebook:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--facebook-icon);
}

.footer-icons li #facebook:hover {
    color: var(--facebook-icon);
    box-shadow: 0 0 5px var(--facebook-icon);
    text-shadow: 0 0 5px var(--facebook-icon);
}

@media (max-width: 1170px) {

    #logoInNavbar {
        width: 20%;
    }

    .nav-links {
        font-size: 80%;
    }

    .nav-links li {
        padding: 0px 10px;
    }

    .cta {
        font-size: 80%;
    }

    footer {
        height: 24em;
    }

    .footer-left {
        margin-top: 60px;
        margin-left: -30px;
    }

    .footer-left p {
        font-size: 1.1rem;
    }
    
    .footer-left i {
        font-size: 22px;
        width: 28px;
        height: 28px;
        line-height: 30px;
    }

    iframe {
        width: 300px;
        height: 160px;
    }

    .footer-right {
        float: right;
        margin-top: 10px;
    }
    
    .footer-links {
        font-size: 110%;
    }
    
    .footer-links p {
        padding: 0.4em;
        font-size: 110%;
    }
    
    .footer-icons {
        width: 165%;
        margin-top: 4em;
    }

    .footer-icons li a {
        font-size: 34px;
    }
}

@media (max-width: 900px) {
    
    header {
        width: 86%;
    }
    
    #logoInNavbar {
        width: 14%;
    }
    
    .nav-links {
        font-size: 70%;
    }
    
    .cta {
        font-size: 70%;
    }
    
    .theme-switch {
        height: 36px;
        width: 3.8em;
    }
    
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 28px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 28px;
    }

    .theme-switch input:checked + .slider:before {
        transform: translateX(140%);
    }

    footer {
        width: 86%;
        height: 20em;
    }

    .footer-left {
        margin-top: 30px;
        margin-left: -30px;
    }

    .footer-left p {
        font-size: 0.9rem;
    }

    iframe {
        width: 250px;
    }

    .footer-right {
        margin-right: -80px;
        margin-top: -25px;
    }
    
    .footer-links {
        font-size: 100%;
    }
    
    .footer-links p {
        padding: 0.6em;
        font-size: 100%;
    }
    
    .footer-icons {
        width: 165%;
        margin-top: 4em;
    }

    .footer-icons li a {
        font-size: 28px;
    }
}

@media only screen and (max-width: 425px) {

	html{
		background-size: 101% 100%;
	}
    header {
        display: flex;
		align-items: center;
		background-color: var(--primary-color);
		font-size: 130%;
		width: 88%;
    }

    #logoInNavbar {
        width: 12%;
        margin-right: 120px;
    }

    .nav-links {
        display: none;
    }

    .nav-links li {
        display: none;
    }

    .cta {
        display: none;
    }

    .theme-switch {
        height: 38px;
        width: 4em;
    }
    
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 29px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 29px;
    }

    .theme-switch input:checked + .slider:before {
        transform: translateX(140%);
    }

    .header {
        margin-bottom: 20%;
    }

    .header h1, .header h3 {
        margin-left: 13%;
    }

    .box {
        height: 200px;
        width: 310px;
        margin-bottom: 40px;
    }
	
	img {
		width: 25%;
		height: 35%;
	}

    footer {
        height: 20em;
        width: 88%;
		margin-right: 0px;
    }

    .footer-left {
        display: none;
    }

    .footer-left p {
        display: none;
    }

    .footer-left i {
        display: none;
    }

    #phoneFooter {
        display: block;
    }

    #phoneFooterIcon {
        display: block;
    }

    #phoneFooterText {
        display: block;
    }

    iframe {
        display: none;
    }

    .footer-right {
        margin: 0 auto;
        margin-top: 15px;
    }

    .footer-links {
        font-size: 70%;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-links p {
        padding: 0.6em;
        font-size: 70%;
    }

    .footer-icons {
        width: 195%;
        margin-top: 3em;
    }

    .footer-icons li a {
        font-size: 24px;
    }
}