h2{
text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 66px;
  letter-spacing: 2.5px;
  margin-top: -50px;
  font-weight: 800;
  color: #f0f0f0;
}

.company{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 2.5px;
    margin-top: -50px;
    font-weight: 600;
    font-style: italic;
    color: #f0f0f0;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button {
  width: 200px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

#Game{
	box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.25);
}

#Github{
	box-shadow: 0px 10px 20px rgb(0, 255, 93, 0.25);;
}

#Game:hover {
  background-color: #ef3636;
  box-shadow: 0px 15px 20px rgba(255, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#Github:hover {
  background-color: #22f292;
  box-shadow: 0px 15px 20px rgb(0, 255, 93, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

div#carousel { 
  perspective: 1200px; 
  background: #363636; 
  padding-top: 10%; 
  font-size: 0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; left: 37.5%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}

figure#spinner img:nth-child(1) { transform:rotateY(0deg); }
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }

div#carousel ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }