@import url("https://fonts.googleapis.com/css?family=Sniglet|Raleway:900");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-image) no-repeat center center;
	background-attachment: fixed;
    background-size: cover;
	height: 100%;
}

:root {
    --primary-color: #014F86;
    --secondary-color: #CAF0F8;
    --links-hover: #90E0EF;
    --font-color: #dddddd;
    --bg-image: url("../Images/BG-Images/contact-light.gif");
    --cta-hover-color: #90E0EF;
    --heading-color: #ff9900;
    --text-color: #676767;
    --form-border-color: #014F86;
    --form-bg-color: #ffffffb3;
    --form-group-border-color: #c9c9c9;
	--input-textarea-bg-color: #f1f1f1;
    --label-color: #fc6a03;
    --submit-color: #ff9900;
    --submit-color-hover: #014F86;
	--map-icon-bg: #CAF0F8;
    --map-icon: #014F86;
    --icons-bg: #014F86;
    --icons: #CAF0F8;
    --instagram-icon: #FFA500;
    --twitter-icon: #00FFFF;
    --github-icon: #03c04a;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #6E6AEE;
    --links-hover: #6E6AEE;
    --font-color: #E1E1FF;
    --bg-image: url("../Images/BG-Images/contact-dark.gif");
    --cta-hover-color: #6560ff;
    --heading-color: #6E6AEE;
    --text-color: #ffffff;
    --form-border-color: #6E6AEE;
    --form-bg-color: #131313b3;
    --form-group-border-color: #818181;
    --input-textarea-bg-color: #686868;
    --label-color: #8e8af0;
    --submit-color: #6E6AEE;
    --submit-color-hover: #412722;
	--map-icon-bg: #6E6AEE;
    --map-icon: #ffffff;
    --icons-bg: #121212;
    --icons: #CAF0F8;
    --instagram-icon: #FFFF00;
    --twitter-icon: cyan;
    --github-icon: #03c04a;
    --facebook-icon: #0072ff;
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary-color);
    font-size: 130%;
    width: 100%;
    margin-bottom: 4%;
}

.logo {
    margin-right: auto;
}

#logoInNavbar {
    width: 30%;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
	font-size: 100%;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--font-color);
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary-color)
}

.cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
	font-size: 100%;
}

.cta:hover {
    background-color: var(--cta-hover-color);
}


/* Toggle slider */

.theme-switch-wrapper {
    display: flex;
    align-items: center; /* toggle to be in center of the navbar*/
    margin-bottom: 1em;
}

.theme-switch {
    display: inline-block;
    height: 42px;
    position: relative;
    width: 2.75em;
    margin-left: 20px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 34px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 34px;
}

.theme-switch input:checked + .slider {
    background-color: #66bb6a;
}

.theme-switch input:checked + .slider:before {
    transform: translateX(130%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #2e2e2e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
}

#contact {
    margin: 0 auto;
    width: 50%;
    height: 90%;
    border-radius: 50px;
    background-color: var(--form-bg-color);
    border: 5px solid var(--form-border-color);
    margin-top: 30%;
    margin-bottom: 34%;
}  

h1 {
    font-weight: normal;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 1em;
    color: var(--heading-color);
    text-align: center;
}

#title {
    height: 100px;
}

#form{
    height: 100%;
    overflow: hidden;
    position: relative;
}

form {
    position: relative;
    margin-bottom: 6em;
    font-family: 'Sniglet', cursive;
}

label, input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input, textarea {
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: var(--text-color);
	background-color: var(--input-textarea-bg-color);
    border: solid 3px var(--form-group-border-color);
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: var(--submit-color);
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 3em;
    margin-bottom: -1em;
    font-size: 1.4em;
    font-family: 'Sniglet', cursive;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: var(--submit-color-hover);
}

label {
    font-size: 1.5em;
    color: var(--label-color);
    margin-top: 20px;
    margin-left: 6em;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28em;
    background-color: var(--primary-color);
    padding: 30px 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-left {
    float: left;
    text-align: center;
    width: 28%;
    margin-left: -20px;
    margin-top: 55px;
}

.footer-left i {
    background-color: var(--map-icon-bg);
    color: var(--map-icon);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 40px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-left p {
    display: inline-block;
    color: var(--font-color);
    vertical-align: middle;
    font-size: 1.5rem;
}

.footer-map {
    margin: 0 auto;
}

iframe {
    width: 440px;
    height: 200px;
}

.footer-right {
    float: right;
    margin-right: -120px;
}

.footer-links {
    padding: 3em;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: var(--font-color);
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.footer-links a:hover {
    color: var(--secondary-color);
}

.footer-links p {
    display: inline-block;
    padding: 0.3em;
    color: var(--font-color);
    font-size: 130%;
}

.footer-icons {
    width: 155%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 6em;
    transform: translate(-50%, -50%);
}

.footer-icons li {
    list-style: none;
    margin: 0 15px;
}

.footer-icons li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background-color: var(--icons-bg);
    border-radius: 50%;
    font-size: 30px;
    color: var(--icons);
    transition: .5s;
}

.footer-icons li #instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--instagram-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #instagram:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--instagram-icon);
}

.footer-icons li #instagram:hover {
    color: var(--instagram-icon);
    box-shadow: 0 0 5px var(--instagram-icon);
    text-shadow: 0 0 5px var(--instagram-icon);
}

.footer-icons li #twitter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--twitter-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #twitter:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--twitter-icon);
}

.footer-icons li #twitter:hover {
    color: var(--twitter-icon);
    box-shadow: 0 0 5px var(--twitter-icon);
    text-shadow: 0 0 5px var(--twitter-icon);
}

.footer-icons li #github::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--github-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #github:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--github-icon);
}

.footer-icons li #github:hover {
    color: var(--github-icon);
    box-shadow: 0 0 5px var(--github-icon);
    text-shadow: 0 0 5px var(--github-icon);
}

.footer-icons li #facebook::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--facebook-icon);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.footer-icons li #facebook:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--facebook-icon);
}

.footer-icons li #facebook:hover {
    color: var(--facebook-icon);
    box-shadow: 0 0 5px var(--facebook-icon);
    text-shadow: 0 0 5px var(--facebook-icon);
}

@media (max-width: 1170px) {

    #logoInNavbar {
        width: 50%;
    }

    .nav-links {
        font-size: 80%;
    }

    .nav-links li {
        padding: 0px 10px;
    }

    .cta {
        font-size: 80%;
    }

    footer {
        height: 25em;
    }

    .footer-left {
        margin-top: 60px;
        margin-left: -30px;
    }

    .footer-left p {
        font-size: 1.1rem;
    }
    
    .footer-left i {
        font-size: 22px;
        width: 28px;
        height: 28px;
        line-height: 30px;
    }

    iframe {
        width: 300px;
        height: 160px;
    }

    .footer-right {
        float: right;
        margin-right: -100px;
        margin-top: 10px;
    }
    
    .footer-links {
        font-size: 110%;
    }
    
    .footer-links p {
        padding: 0.4em;
        font-size: 110%;
    }
    
    .footer-icons {
        width: 165%;
        margin-top: 4em;
    }

    .footer-icons li a {
        font-size: 34px;
    }
}

@media not all and (max-width: 500px)
{
    #contact {
        margin-top: 40%;
        margin-bottom: 40%;
    }

    input, textarea {
        border-radius: 30px;
        padding: 20px;
    }
    
    input[type="submit"] {
        height: 60px;
        font-size: 1.4em;
        line-height: 20px;
    }
}

@media (max-width: 1160px) and (min-width: 510px)
{   
    #contact {
        width: 80%;
    }
    
    textarea {
        height: 140px;
    }

    input, textarea {
        width: 70%;
    }

    input[type="submit"] {
        height: 60px;
    }
}

@media (min-width: 1170px)
{
    #contact {
        margin-top: 6%;
        margin-bottom: 10%;
        width: 50%;
    }
}