@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #2e2e2e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
}

a {
    text-decoration: none;
}

.card {
    margin: 40px;
    position: relative;
    border-radius: 40px;
    width: 270px;
    height: 350px;
    box-shadow: 0 20px 30px -6px black;
    background-color: var(--primary-color);
    overflow: hidden;
}

.card-title {
    display: block;
    text-align: center;
    color: var(--card-title-color);
    background-color: var(--card-title-bg-color);
    padding: 4%;
    border-radius: 40px 40px 0px 0px;
}

.card img {
    object-fit: cover;
    display: block;
    position: absolute;
	height: 56%;
	width: 73%;
	margin-left: 13%;
	margin-top: 11%;
}

.card-desc {
    display: block;
    font-size: 110%;
    letter-spacing: 1.2px;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #333333;
    overflow-y: scroll;
    transition: 0.8s ease;
	font-size: 1.2rem;
	text-align: center;
}

.card:hover .card-desc {
    opacity: 0.85;
    height: 100%;
    background-color: var(--card-hover-bg-color);
    color: #F1F1F1;
    border-radius: 40px; /* originalno 10% */
	
}

h1 {
    font-size: 3rem;
    color: var(--heading-color);
    margin: 40px 0 20px 0;
    text-align: center;
}

:root {
    --primary-color: #0F393B;
    --secondary-color: #EA7F4A;
    --font-color: #C9C6C6;
    --bg-color: linear-gradient(70deg, #fb9b2d 0%, #024769 100%); /* linear-gradient(70deg, #fb9b2d 0%, #024769 100%) */ 
    --heading-color: #cfcfcf;
    --card-title-color: #2e2e2e;
    --card-title-bg-color: #EA7F4A;
    --card-hover-bg-color: #0F393B;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #6E6AEE;
    --font-color: #F2F2F2;
    --bg-color: linear-gradient(110deg, #292929 0%, #000000 100%);
    --heading-color: #6E6AEE;
    --card-title-color: #F2F2F2;
    --card-title-bg-color: #6E6AEE;
    --card-hover-bg-color: #121212;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary-color); /* #24252a originalno */
    width: 100%;
    margin-bottom: 4%;
}

.logo {
    margin-right: auto;
}

#logoInNavbar {
    width: 20%;
    height: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--font-color); /* #edf0f1 originalno */
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary-color); /* #0088a9 originalno */
}
.cta {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--primary-color); /* #edf0f1 originalno */
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--secondary-color);
}


/* Toggle slider */

.theme-switch {
    display: inline-block;
    height: 37px;
    position: relative;
    width: 74px;
    margin-left: 20px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc; /* #ccc da stoi taka */
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff; /* #fff da stoi taka */
    bottom: 4px;
    content: ""; /* da moje da pokazva toggle */
    height: 29px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 29px;
}

input:checked + .slider {
    background-color: #66bb6a; /* #66bb6a originalno */
}

input:checked + .slider:before {
    transform: translateX(130%); /* drizhenieto na slidera */
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}