#diagramTitle{
  text-align: center;
  padding: 2em;
  color: var(--text-color);
}

#chartdiv {
  width: 99%;
  height: 800px;
}

#casualtiesTitle{
  text-align: center;
  padding: 4em;
  color: var(--text-color);
}

@media only screen and (max-width: 1170px)
{
  #diagramTitle {
    font-size: 18px;
  }

  #casualtiesTitle {
    font-size: 16px;
    padding: 6em;
  }
}