body {
	margin: 0;
	padding: 0;
	background: #121212;
	font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.wrapper {
	margin-top: 50px;
}
.wrapper h1 {
	color: #ceff00;
	text-align: center;
	font-weight: bold;
  margin-bottom: 200px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.card {
	width: 400px;
	height: 240px;
	margin: 15px;
	position: relative;
	min-width: 190px;
	background: #000;
  border: 5px solid #ceff00;
	margin-bottom: 100px;
}
.card:hover .overlayer {
	visibility: visible;
}
.card img {
	width: 100%;
	height: 100%;
}
.card .title  {
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 180px;
}

.card .title a {
	top: -175px;
	color: #fff;
	position: relative;
	font-size: 13px;
	text-decoration: none;
}

.card .overlayer {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.6);
	text-align: center;
	visibility: hidden;
}

.overlayer .fa-play-circle {
	color: #ffffff;
	font-size: 100px;
	margin-top: 17%;
	transition: 100ms ease-in-out;
  color: #ceff00;
}
.fa-play-circle:hover {
	transform: scale(1.1);
}