@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* light mode */
  --primary-color: #014F86;
  --secondary-color: #CAF0F8; /* #ADE8F4 */
  --links-hover: #90E0EF;
  --font-color: #dddddd;
  --bg-color: #014FF6;
  --heading-color: #292922;
  --cta-hover-color: #90E0EF;
}

[data-theme="dark"] { /* dark mode */
  --primary-color: #121212;
  --secondary-color: #6E6AEE;
  --links-hover: #6E6AEE;
  --font-color: #E1E1FF;
  --bg-color: #000000;
  --cta-hover-color: #6560ff;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  background: var(--bg-color);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--primary-color);
  font-size: 150%;
}

.logo {
  margin-right: auto;
}

#logoInNavbar {
  width: 20%;
  height: auto;
}

.nav-links  {
  list-style: none;
  display: flex;
}

.nav-links a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: none;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--links-hover);
}

.cta  {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--cta-hover-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2e2e2e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666666; 
  border-radius: 10px;
}


/* Toggle slider */

.theme-switch-wrapper {
  display: flex;
  align-items: center; /* toogle to be in center of the navbar*/
}

.theme-switch {
  display: inline-block;
  height: 42px;
  position: relative;
  width: 4.1em;
  margin-left: 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 34px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 34px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(130%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 64px 24px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(3px);
}

.card__content{
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card__category{
  color: rgba(255,255,255,0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading{
  color: white;
  font-size: 1.3rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}


