body{
  margin: 0;
  background: #121212;
  color: #ceff00;
}
h1{
  width: 100%;
  position: absolute;
  top: 55%;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font: 300 32px/1 'Open sans condensed', sans-serif;
}
/*Loading sreen object*/
.loading{
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  box-sizing: border-box;
  border-top: 8px solid rgb(206,255,0);
  border-right: 8px solid rgba(206,255,0,.3);
  border-bottom: 8px solid rgba(206,255,0,.3);
  border-left: 8px solid rgba(206,255,0,.3);
  border-radius: 100%;
  
  animation: rotate 1s infinite linear;
}

/*Loading screen animation*/
@keyframes rotate{
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}