body{
  background: #121212;
  overflow: hidden;
  text-align: center;
}
h1{
  font-size: 150px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  margin-top: 20%;
}

a{
  text-decoration: none;
}

.carousel-wrapper {
  top: 10px;
  height: 58em;
  border-radius: 50px;
  position: relative;
  width: 100%;
  display: block;
  margin: 5px auto ;
  border: 2px solid white;
  
}

.carousel-item {
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  text-align: center;
}

.arrow{
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 12px;
  transition: 0.5s;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../Images/Index-Photos/index-geography.jpg");
  background-size: cover;
}
.item-2 {
  background: url("../Images/Index-Photos/index-history.jpg");
  background-size: cover;
}
.item-3 {
  background: url("../Images/Index-Photos/index-game.jpg");
  background-size: cover;
}


*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 

.photo{
  width: 100%;
  height: 100%;
  display: block;
  transition: .5s;
}

.photo:hover{
  transform: scale(1.2);
}