.span{
    display:inline-block;
    height: 100%;

}
#span1 {
  /* border: 7px outset black; */
  background-color: lightblue;
  width: 30%;
  height:100%;
  z-index: 1;
}
#span2 {
  /* border: 7px outset blue; */
  background-color: lightblue;
  text-align: center;
  width: 33.3%;
}
#span3 {
  /* border: 7px outset violet; */
  background-color: lightblue;
  text-align: center;
  width: 30%;
}
#span4 {
  /* border: 7px outset lightcoral; */
  background-color: lightblue;
  text-align: center;
  width: 30%;
}
#span5 {
    /* border: 7px outset khaki; */
    background-color: lightblue;
    text-align: center;
    width: 33.3%;
  }
  #span6 {
    /* border: 7px outset olive; */
    background-color: lightblue;
    text-align: center;
    width: 33.3%;
  }
#Div1 {
  background-color: yellowgreen;
  text-align: center;
  width: 100%;
  height: 25%;

  opacity: 56%;
}
#Div2 {
  background-color: gray;
  text-align: center;
  width: 100%;
  height: 25%;
  opacity: 56%;
}
#Divmain {
  background-image: url("../Images/bg.jpg");
  background-repeat: no-repeat;
  height: 139vh;
  display: block;
  margin: 90px auto 0 auto;
  width: 50%;
}
