#map{
    width:90%;
    height:90vh;
    margin-left: 5%;
    margin-top: 5%;
	border: 3px solid var(--map-color);
	border-radius: 40px;
	box-shadow: 3px 1px 10px var(--map-color);
  }

  #chartdiv {
	width: 90%;
	height: 90vh;
	margin-left: 3%;
	margin-top: 10.5%;
	margin-bottom: 5%;
    background: var(--chart-color);
    border-radius: 15px;
  }

  /* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
	background: transparent;
}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
	max-width: none !important;
	max-height: none !important;
	}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	/* Fallback for FF which doesn't support pinch-zoom */
	touch-action: none;
	touch-action: pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
	        transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:         grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:         grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url("Marker.png");
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}
	
	
	

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* light mode */
  --primary-color: #014F86;
  --secondary-color: #CAF0F8;
  --links-hover: #90E0EF;
  --font-color: #dddddd;
  --bg-color: linear-gradient(270deg, #0480c0 10%, #CAF0F8 90%);
  --heading-color: #ffffffe6;
  --cta-hover-color: #90E0EF;
  --map-color: #014F86;
  --chart-color: linear-gradient(60deg, lightblue, #6E6AEE 90%);
  --population-color: #ff9900;
  --map-icon-bg: #CAF0F8;
  --map-icon: #014F86;
  --icons-bg: #014F86;
  --icons: #CAF0F8;
  --instagram-icon: #FFA500;
  --twitter-icon: #00FFFF;
  --github-icon: #03c04a;
  --facebook-icon: #0072ff;
}

[data-theme="dark"] { /* dark mode */
  --primary-color: #121212;
  --secondary-color: #6E6AEE;
  --links-hover: #6E6AEE;
  --font-color: #E1E1FF;
  --bg-color: linear-gradient(60deg, #616161 10%, #121212 90%);
  --heading-color: #f1f1f1;
  --cta-hover-color: #6560ff;
  --map-color: #6E6AEE;
  --chart-color: linear-gradient(60deg, #6E6AEE, #121212 90%);
  --population-color: #dddddd; 
  --map-icon-bg: #6E6AEE;
  --icons-bg: #121212;
  --icons: #CAF0F8;
  --map-icon: #ffffff;
  --instagram-icon: #FFFF00;
  --twitter-icon: cyan;
  --github-icon: #03c04a;
  --facebook-icon: #0072ff;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  width: 100%;
  overflow-x: hidden;
}

body{
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: var(--primary-color);
  font-size: 150%;
}

.logo {
  margin-right: auto;
}

#logoInNavbar {
  width: 30%;
  height: auto;
}

.nav-links  {
  list-style: none;
  display: flex;
  font-size: 100%;
}

.nav-links a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: none;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: var(--links-hover);
}

.cta  {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 100%;
}

.cta:hover {
  background-color: var(--cta-hover-color);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2e2e2e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666666; 
  border-radius: 10px;
}


/* Toggle slider */

.theme-switch-wrapper {
  display: flex;
  align-items: center; /* toogle to be in center of the navbar*/
}

.theme-switch {
  display: inline-block;
  height: 42px;
  position: relative;
  width: 4.1em;
  margin-left: 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 34px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 34px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(130%);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30.3em;
  background-color: var(--primary-color);
  padding: 30px 10%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer-left {
  float: left;
  text-align: center;
	width: 28%;
  margin-left: -20px;
  margin-top: 55px;
}

.footer-left i {
  background-color: var(--map-icon-bg);
  color: var(--map-icon);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 40px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-left p {
  display: inline-block;
  color: var(--font-color);
  vertical-align: middle;
  font-size: 1.5rem;
}

.footer-map {
  margin: 0 auto;
}

iframe {
  width: 440px;
  height: 200px;
}

#phoneFooter {
	display: none;
	margin: 0px 0px 0px 35%;
	padding: 1em;
	  width: 45%;
}

#phoneFooterIcon {
	display: none;
	background-color: var(--map-icon-bg);
	color: var(--map-icon);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	line-height: 40px;
	vertical-align: middle;
	margin-left: -50px;
	margin-bottom: -25px;
}

#phoneFooterText {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.1rem;
	color: var(--font-color);
}

.footer-right {
  float: right;
  margin-right: -120px;
}

.footer-links {
  padding: 3em;
  font-size: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: var(--font-color);
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer-links p {
  display: inline-block;
  padding: 0.3em;
  color: var(--font-color);
  font-size: 130%;
}

.footer-icons {
  width: 155%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 6em;
  transform: translate(-50%, -50%);
}

.footer-icons li {
  list-style: none;
  margin: 0 15px;
}

.footer-icons li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background-color: var(--icons-bg);
  border-radius: 50%;
  font-size: 30px;
  color: var(--icons);
  transition: .5s;
}

.footer-icons li #instagram::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--instagram-icon);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer-icons li #instagram:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--instagram-icon);
}

.footer-icons li #instagram:hover {
  color: var(--instagram-icon);
  box-shadow: 0 0 5px var(--instagram-icon);
  text-shadow: 0 0 5px var(--instagram-icon);
}


.footer-icons li #twitter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--twitter-icon);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer-icons li #twitter:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--twitter-icon);
}

.footer-icons li #twitter:hover {
  color: var(--twitter-icon);
  box-shadow: 0 0 5px var(--twitter-icon);
  text-shadow: 0 0 5px var(--twitter-icon);
}

.footer-icons li #github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--github-icon);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer-icons li #github:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--github-icon);
}

.footer-icons li #github:hover {
  color: var(--github-icon);
  box-shadow: 0 0 5px var(--github-icon);
  text-shadow: 0 0 5px var(--github-icon);
}

.footer-icons li #facebook::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--facebook-icon);
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.footer-icons li #facebook:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--facebook-icon);
}

.footer-icons li #facebook:hover {
  color: var(--facebook-icon);
  box-shadow: 0 0 5px var(--facebook-icon);
  text-shadow: 0 0 5px var(--facebook-icon);
}

@media (max-width: 1170px)
{
  #logoInNavbar {
    width: 50%;
  }

  .nav-links {
    font-size: 80%;
  }

  .nav-links li {
    padding: 0px 10px;
  }

  .cta {
    font-size: 80%;
  }

  footer {
    height: 28em;
  }

  .footer-left {
    margin-top: 60px;
    margin-left: -30px;
  }

  .footer-left p {
    font-size: 1rem;
  }
  
  .footer-left i {
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 26px;
  }

  iframe {
    width: 280px;
    height: 160px;
  }

  .footer-right {
    float: right;
    margin-right: -80px;
    margin-top: 25px;
  }
  
  .footer-links {
    font-size: 100%;
	margin-left: -100px;
  }
  
  .footer-links p {
    padding: 0.4em;
    font-size: 90%;
  }
  
  .footer-icons {
    width: 165%;
    margin-top: 5em;
	margin-left: 1em;
  }

  .footer-icons li a {
    font-size: 24px;
  }
}

@media only screen and (max-width: 425px) {

	.nav-links {
		display: none;
	}

	.nav-links li {
		display: none;
	}

	.cta {
		display: none;
	}
	

	.footer-left {
		display: none;
	}

	.footer-left p {
		display: none;
	}

	.footer-left i {
		display: none;
	}

	#phoneFooter {
		display: block;
	}

	#phoneFooterIcon {
		display: block;
		margin-left: -80px;
	}

	#phoneFooterText {
		display: block;
		margin-left: -80px;
	}

	iframe {
		display: none;
	}
}