
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    margin: 0%;
    background-color: #020618;
    position: relative;
    user-select: none;
}

*{
 list-style-type: none;
}

img{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
}
.img{
    position: fixed;
}
.questions{
    margin: auto;
    width: 85vw;
    padding: 2rem;
    background: #f5f5b3;
    cursor: default;
    border-radius: 1rem;
    border: 10px solid #b9ff4f;
}
#question{
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
}
.option{
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 4px 5px 10px yellow;
    width: 15rem;
    height: 50px;
    background: linear-gradient(0deg, darkorange, greenyellow);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1rem;
    color: black;
    justify-content: center;
    align-items: center;
}
.option:hover{
    color: #900000;
}
ol{
    position: relative;
    color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
	font-size: 1.5rem;
    margin-top: -1.5%;
    color: white;
    text-align: center;
    position: absolute;
    left: 30%;
    border: 3px solid darkorange;
    border-radius: 15px;
    width: 40%;
    height: 8%;
    background: linear-gradient(0deg, darkorange, yellow);
}
.buttons{
    text-align: center;
}

#scoreboard{
    width: 20rem;
    background: rgba(230,230,250,0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
    transform: translateY(500%);
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 1rem;
}

#score-btn {
    background-color: red;
    height: 4em;
    border: none;
    border-radius: 10px;
}

#check-answer {
    background-color: green;
    height: 4em;
    border: none;
    border-radius: 10px;
}

#score{
    font-size: 2.5rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
    color: #2f302d;
}
.timer{
    position: fixed;
	z-index: 9999;
    width: 25em;
    top:2%;
    left:1%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #f7fc00;    
    height: 3.5em;
    margin-bottom:20px;
    padding: 10px 20px 10px 20px;
	border-radius: 30px;
	box-shadow: 10px 10px 10px #000000;
}
.timer > p {
    color: #292929;
	margin-left: -40px;
}
#answerBank
{
    width: 20rem;
    background: rgba(230,230,250,0.77);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    opacity: 0;
    transform: translateY(230%);
    
}
#answers{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.quiz{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -100;
    
    
}
#quiz-container{

    position: absolute;
    top:30%;
    left: 1%;
    width: 98vw;
    transition: all 1s;
    transform: translateY(100%);

    z-index: 1000;
	margin-top: -100px;
}
i{
    font-size: 2.5rem;
    color: #292929;
    padding: 0.1em;
}

.quiz > p{
    width: 100vw;
    margin: 0;
    padding-top:250px;
    text-align: center;
    height: 100vh;
    position: absolute;
    background-color: rgb(255, 232, 189);
    font-size: 6rem;
    opacity: 0.7;
    left: 0;
    color: black;
    
    top: 0;
    z-index: 1000;
}
.PaddingBot{
    padding-bottom: 300px;
    height: 500px;
    position: relative;
    transform: translateY(220%);
}
u{
    text-decoration: none;
}
.questions> ol >li{
    height: auto;
}
.obj{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;

}
.leftPart{
    position: absolute;
    background-image: url('../../Images/Game-Photos/quiz-bg.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: 100%;
    height: 100%;
    margin: 0;
    left:0;
    z-index: -100;
   
}
.rightPart{
    z-index: -100;
    position: absolute;
    background-image: url('../../Images/Game-Photos/quiz-bg.jpg');
    width: 100%;
    background-size: cover;
    margin: 0;
    height: 100%;
    left:0;    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 53%);
}
@media only  screen and (max-width:980px){
    .PaddingBot{
        transform: translateY(100%);
        height: 300px;
    }
    .questions{
        width: 80vw;
        height: 50vh;
    }
    #question{
        font-size: 2.5rem;
        margin-top: 10%;
    }
    .option{
        margin-bottom: 3rem;
        font-size: 2rem;
        width: 30rem;
        height: 100px;
        margin-left: 16%;
        margin-right: 20px;
    }
    ol{
        flex-direction: column;
    }
    #answer{
        margin-top: 2.5rem;
    }
    #stat{
        font-size: 2.2rem;
        margin-top: -4%;
    }
}
@media only screen and (min-width: 850px) and (max-width:980px) {
    .timer{
        width: 38em;
        height: 5em;
        top:2%;
        left:3%;
        padding: 10px 20px 10px 10px;
    }
    .timer p {
        color: #292929;
        margin-top: 16px;
    }
}