.span{ /*This class is for every span*/
  display:inline-block;
  height: 100%;
}
#span1:hover{
border: 3px dashed black;
border-radius: 5%;
}
#span2:hover{
border: 3px dashed black;
border-radius: 5%;

}
#span3:hover{
border: 3px dashed black;
border-radius: 5%;
}
#span4:hover{
border: 3px dashed black;
border-radius: 5%;
}
#span5:hover{
border: 3px dashed black;
border-radius: 5%;
}
#span6:hover{
border: 3px dashed black;
border-radius: 5%;
}
#span1 {/*These are spans each part of the map*/
width: 26%;
height:90%;
cursor: alias;
}
#span2 {

width: 33%;
height:70%;
cursor: alias;

}
#span3 {
width: 33%;
cursor: alias;
height:99.9%;
}
#span4 {
cursor: alias;
width: 33%;
height: 90%;
}
#span5 {
  width: 33%;
  height:90%;
  cursor: alias;
}
#span6 {
  width: 21%;
  cursor: alias;
  height:90%;
}
#Div1 { /*This is the Div for the top part of the map*/

text-align: center;
width: 100%;
height: 25%;

}
#Div2 { /*This is the Div for the bottom part of the map*/

text-align: center;
width: 100%;
height: 25%;


}

#Divmain {  /*This is the main Div*/
background-image: url("../../Images/Maps/bg.jpg");
filter: blur(0px);
border-radius: 7.5%;
background-repeat: no-repeat;
height: 139vh;
display: block;
margin: 90px auto 0 auto;
width: 50%;
}
