
.timer{
    position: absolute;
    top:0%;
    left:0%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: whitesmoke;
    border: solid;
    height: auto;
    margin-bottom:20px;
    padding-right: 20px;
   
    
}
i{
    font-size: 2.5rem;
}
aside > img{
    transform: scale(0.6,0.6);
}
.gameOverScreen{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    display: none;
    z-index: 100;
   
}

article{
    opacity: 1 !important;
    margin: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: blanchedalmond;
}
article > aside{
    display: grid;
    grid-template-rows: repeat(2, 50%);
}
body{
    background-color: aqua;
    margin: 0;
}
.cardArea{
    width: 60vw;
    height:60vh;
    background-color: antiquewhite;
    display: grid;
    margin: auto;
    margin-top: 15%;
    border-radius: 15% 15% 15% 15%;
    padding: 50px 50px;
    grid-template-columns: repeat(5, 20%);
    
   
    
}
#divImg
{
    margin: 1%;
    position: relative;
    background-color: tan;
    transition: all 1s;
    border-radius: 15% 15% 15% 15%;
    transform-style: preserve-3d;
    
}
img{
    height: 100%;
    width:100%;
    
    z-index: 100;
}

span{
    position:absolute;
    left: 0;
    top: 0;
    background-color: tan;
    width: 100%;
    height: 100%;
    border-radius: 15% 15% 15% 15%;
    opacity:1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
    
}
aside{
    position: absolute;
    width: 100%;
    height: 100%;
    
    border-radius: 15% 15% 15% 15%;
}
.dis{
    pointer-events: none;

}
.disFor{
    pointer-events: none !important;
}



